.centered-form{
  margin-top: 60px;
}

.centered-form .panel{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.omni  {
  text-align: center;
  .btn-social {
      width: 40px;
      height: 40px;
      line-height: 35px;
      background-color: #2c3e50;
  }
}
